@use '../helpers' as *;

/* Base Common */
html {
  font-size: 62.5%;
  overflow-y: auto;
}
body {
  color: $text1;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: -0.05rem;
  font-family: $font, sans-serif;
}
html,
body {
  height: 100%;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.content {
  &.content_side {
    padding: 0 2rem;
  }
}

button {
  cursor: pointer;
}